/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* nunito-200 - latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("./fonts/nunito-v16-latin-ext-200.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/nunito-v16-latin-ext-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-200italic - latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 200;
  src: local(""),
    url("./fonts/nunito-v16-latin-ext-200italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/nunito-v16-latin-ext-200italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-regular - latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./fonts/nunito-v16-latin-ext-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/nunito-v16-latin-ext-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-italic - latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("./fonts/nunito-v16-latin-ext-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/nunito-v16-latin-ext-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-700 - latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./fonts/nunito-v16-latin-ext-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/nunito-v16-latin-ext-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-700italic - latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url("./fonts/nunito-v16-latin-ext-700italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/nunito-v16-latin-ext-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-900 - latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("./fonts/nunito-v16-latin-ext-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/nunito-v16-latin-ext-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-900italic - latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 900;
  src: local(""),
    url("./fonts/nunito-v16-latin-ext-900italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/nunito-v16-latin-ext-900italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
